// buttons
// yanas code
.btn-font
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	text-align: center;
}
.nav-font
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.radius
{
	border-radius: 50px;
}

// background colours
.bg-blue
{
	background-color: $blue;
}
.bg-cyan
{
	background-color: $cyan;
}
// borders
.border-blue
{
	border: 3px solid $blue;
}
.border-gray
{
	border: 3px solid $gray;
}
// Hayley's code
.logo {
  width: 200px;
}

.header {
  // margin: 1rem;
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-between;
}

.nav {
  justify-content: space-evenly;
  width: 300px;
}

.button {
  background-color: $primary;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 9px 15px;
}

.signInButton {
  cursor: pointer;
  padding: 6px 15px;
}

.button-red {
  background-color: $red;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 6px 15px;
  text-align: center;
}

.button-black {
  background-color: $gray-dark;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 6px 15px;
  text-align: center;
}

// Hayley's code ends
